body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    border:2px solid black;
    padding: 20px;
    display: flex;
    gap: 30px;
}

.card {
    width: 200px;
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #1e90ff;
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
}